#ignore these files
.classpath
.project
.settings
*~
tmp-cache
*.pyc
*.db
*.mat

tensorlog/fb15k-valid.db
tensorlog/fb15k-valid.db/*
tensorlog/tlog-cache
tensorlog/toy-trained.db
tensorlog/tlog-cache/*

datasets/*/actual.txt
datasets/*/eval.log
datasets/*/expt.log
datasets/*/tmp-cache/*
datasets/*/inputs/*
